<% @itineraries.each do |itinerary| %>

<div class="col-md-4">
  <div class="card">

    <%= image_tag itinerary.image.url(:medium), width: '100%', class: 'image-fluid cursor' %>

    <div class="card-body">

      <h4 class="card-title"><%= itinerary.title %></h4>

      <p class="card-text text-truncate"><%= itinerary.description %></p>
      <div class="button-container">
        <div class="dropdown-divider"></div>
        <%= link_to itinerary, class: "btn-floating btn-sm blue-gradient" do %>
          <i class="fa fa-eye"></i>
        <% end %>
        <%= link_to edit_itinerary_path(itinerary), class: "btn-floating btn-sm blue-gradient" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to itinerary, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating btn-sm blue-gradient" do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>
