<% if @itinerary.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
    <% @itinerary.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @itinerary do |f| %>

<%= f.select 'neighborhood_id', options_from_collection_for_select(@neighborhoods, 'id', 'name'),  { prompt: "pick your neighborhood"}, {class: 'mdb-select colorful-select dropdown-primary', searchable: 'Search here..' } %>


<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :description %>
<%= f.text_area :description %>

  <div class="maze-form">


    <% 3.times do |num| %>
      <%= render partial: 'itineraries/components/location_form', locals: {f:f} %>
    <% end %>

  </div>

  <a href="#" data-added="false" class="add-maze-btn"> Add Another</a>

  <template>
    <div class="new-wrapper">
      <%= render partial: 'itineraries/components/location_form', locals: {f:f, is_new: true } %>
      <span class="remove-form" data-id="">X</span>
    </div>
  </template>

  <%= hidden_field_tag 'itinerary[locations]', nil %>


  <%= f.submit 'Create', class: "submit-itinerary" %>
<% end %>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV8h_serLSbuH25YoZmcnS4lylLnuhilk&libraries=places&callback=initMap"></script>
