<% content_for :body_class, 'offwhite-background' %>

<div class="view hm-black-light jarallax itinerary-new-header" data-jarallax='{"speed": 0.2}'>
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row pt-5 mt-3">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong class="new-header">Share Your Experience</strong></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="itinerary-new-body">


  <% if @itinerary.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
      <% @itinerary.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



  <%= form_for @itinerary do |f| %>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="jumbotron">
        <h3 class="text-center">What's Your Maze Name?</h3>
        <br>

        <div class="md-form">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="">

          <%= f.select "neighborhood_id", options_from_collection_for_select(Neighborhood.all, 'id', 'name', (nil)), {:prompt => 'Select Neighborhood' }, {:class=>"mdb-select colorful-select dropdown-primary", searchable: 'Search here..' } %>

        </div>

        <div class="md-form">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control md-textarea' %>
        </div>

        <br>




        <div class="form-group image-btn">
          <label class="btn btn-deep-orange btn-lg btn-rounded">

           Upload Image <%= f.file_field :image, style: 'display: none' %>
         </label>
       </div>

     </div>
   </div>
  </div>

  <h3 class="location-header">Enter Your Route Destinations</h3>
  <hr class="location-ruler">

  <div class="maze-form">

  <div class="row"><% 4.times do |num| %>
    <%= render partial: 'itineraries/components/location_form', locals: {f:f} %>
    <% end %></div>

  </div>
  <div class="row">

    <div class="col-md-2 mx-auto text-center">

      <a href="#" data-added="false" class="add-maze-btn btn-floating btn-md green"><i class="fa fa-plus"></i> </a>

      <template>
        <div class="new-wrapper">
          <%= render partial: 'itineraries/components/location_form', locals: {f:f, is_new: true } %>
        </div>
      </template>

    </div>

  </div>

  <%= hidden_field_tag 'itinerary[locations]', nil %>

  <hr>

    <div class="text-center">
      <%= f.submit 'Create Maze', class: "btn btn-primary btn-rounded submit-itinerary" %>
    </div>
  <% end %>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV8h_serLSbuH25YoZmcnS4lylLnuhilk&libraries=places&callback=initMap"></script>
