<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Fly to a location based on scroll position</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet' />
  <style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>


  <style>
  #map {
    position: fixed;
    width:50%;
  }
  #features {
    width: 50%;
    margin-left: 50%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
  }
  section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
  }
  section.active {
    opacity: 1;
  }
  section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
  }
</style>

<div id='map'></div>
<div id='features'>

  <% @itinerary.locations.each do |location| %>


  <section id='<%= location.title %>' class='active'>
    <h3><%= location.title %></h3>
    <p><%= location.description %></p>
    <p>[<%= (@itinerary.locations.first.latitude).to_f %>, <%= (@itinerary.locations.first.longitude).to_f %> ]</p>
  </section>

  <% end %>
</div>
<script>

  mapboxgl.accessToken = 'pk.eyJ1Ijoia2V2aW5zY2hhZmZ0ZXIiLCJhIjoiY2piNm96NGt2MHZxZTJ3bXo3bG5uN2RwMiJ9.mJexXrURcgBO8qfnCsoYkQ';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [<%= (@itinerary.locations.first.longitude).to_f %>, <%= (@itinerary.locations.first.latitude).to_f %>],
    zoom: 15.5,
    bearing: 27,
    pitch: 45
  });


  var chapters = {

    <% @itinerary.locations.each do |location| %>


    '<%= location.title %>': {
      bearing: 27,
      center: [<%= location.longitude.to_f %>, <%= location.latitude.to_f %>],
      zoom: 15.5,
      pitch: 20
    },

    <% end %>
  };



// On every scroll event, check which element is on screen
window.onscroll = function() {
  var chapterNames = Object.keys(chapters);
  for (var i = 0; i < chapterNames.length; i++) {
    var chapterName = chapterNames[i];
    if (isElementOnScreen(chapterName)) {
      setActiveChapter(chapterName);
      break;
    }
  }
};

var activeChapterName = 'baker';
function setActiveChapter(chapterName) {
  if (chapterName === activeChapterName) return;

  map.flyTo(chapters[chapterName]);

  document.getElementById(chapterName).setAttribute('class', 'active');
  document.getElementById(activeChapterName).setAttribute('class', '');

  activeChapterName = chapterName;
}

function isElementOnScreen(id) {
  var element = document.getElementById(id);
  var bounds = element.getBoundingClientRect();
  return bounds.top < window.innerHeight && bounds.bottom > 0;
}

</script>

</body>
</html>
