<div class="form-container">
  <!-- To do: Add location -->
  <%= f.label :title %>
  <%= text_field_tag "itinerary[content][][title]" %>
  
  <%= f.label :description %>
  <%= text_area_tag "itinerary[content][][description]" %>

  <%= hidden_field_tag "itinerary[content][][location]" %>
  <%= hidden_field_tag "itinerary[content][][photo]" %>

    <div id="pac-container">
      <input class="pac-input" type="text"
          placeholder="Enter a location" data-is-new="<%= defined?(is_new) ? true : false %>">
    </div>

  <div id="map" style="display:none"></div>
</div>
